<p><b>Potwierdzamy zwrot wpłaconych przez Ciebie środków w wysokości {{ wplata.kwota }} zł.</b></p>
<p>Środki trafią na konto, z którego dokonano wpłatę lub przekazem pocztowym jeśli w ten sposób została dokonana wpłata.</p>

<p>Jeśli zgłosiłeś się na kilka wydarzeń, to zwracamy Twoją uwagę na to, że każde wydarzenie jest traktowana oddzielnie i dla każdego osobno rozliczane są wpłaty i osobno przeprowadzane kwalifikacje.</p>

<p><b>Podsumowanie:</b><br>
Nazwa wydarzenia: {{ zgl.rejs.nazwa }}<br>
Saldo: {{ zgl.suma_wplat }} zł.
</p>

{% include "emails/_footer.html" %}