<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szczegóły zgłoszenia</title>
</head>
<body>
    <div>
        <h2>Twoje zgłoszenie</h2>
<p><strong>Imie: </strong> {{zgloszenie.imie }}</p>
<p><strong>nazwisko: </strong>{{ zgloszenie.nazwisko }}</p>
<p><strong>email: </strong> {{zgloszenie.email }} </p>
<p><strong>telefon: </strong> {{ zgloszenie.telefon }} </p>
<p><strong>wzrok: </strong> {{zgloszenie.wzrok }} </p>
<p><strong>status: </strong> {{zgloszenie.status}} </p>
<section>
    <h3><strong>Wpłaty</strong></h3>
    <ul>
        <li>cena: {{zgloszenie.rejs_cena }}</li>
        <li>suma wpłat: {{zgloszenie.suma_wplat }}</li>
        <li>pozostało do zapłaty: {{zgloszenie.do_zaplaty }}</li>
    </ul>
</section>
<h3> {{zgloszenie.rejs.nazwa}} </h3>
<p><strong> {{zgloszenie.rejs.od}} -> {{zgloszenie.rejs.do}} </strong></p>
<article>
    <p>
        {{ zgloszenie.rejs.opis }}
    </p>
</article>
<h2>Rejsowe ogłoszenia</h2>
<section>
    <ol>
    {% for o in zgloszenie.rejs.ogloszenia.all %}
    <li><h5>{{ o.tytul }}</h5>
        <p>{{ o.text }}</p>
    </li>
    {% empty %}
    <li>brak ogłoszeń</li>
{% endfor %}
</ol>
</section>
    </div>
</body>
</html>