on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        type: environment
        required: true
      tag:
        description: 'Image tag'
        required: true
        type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Create SSH key
        run: |
          eval $(ssh-agent -s)
          ssh-add - <<< "$DEPLOYMENT_SSH_PRIVATE_KEY"
          echo "$DEPLOYMENT_SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
          ssh $DEPLOYMENT_SSH_USER@DEPLOYMENT_SSH_HOST << EOF
          mkdir -p $ENVIRONMENT
          echo $ENV_FILE > $ENVIRONMENT/.env
        shell: bash
        env:
          DEPLOYMENT_SSH_PRIVATE_KEY: ${{secrets.DEPLOYMENT_SSH_PRIVATE_KEY}}
          DEPLOYMENT_SSH_KNOWN_HOSTS: ${{secrets.DEPLOYMENT_SSH_KNOWN_HOSTS}}
          DEPLOYMENT_SSH_USER: ${{secrets.DEPLOYMENT_SSH_USER}}
          DEPLOYMENT_SSH_HOST: ${{secrets.DEPLOYMENT_SSH_USER}}
          ENV_FILE: ${{secrets.ENV_FILE}}
          APP_IMAGE_TAG: ${{inputs.tag}}
          ENVIRONMENT: ${{inputs.environment}}
